In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("./CSVs/churn_modeling.csv")
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
x = df.iloc[:,3:-1]
x.head(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [4]:
y = df.iloc[:,-1]
y.head(5)

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [5]:
from sklearn.preprocessing import OneHotEncoder

In [7]:
geography = pd.get_dummies(x['Geography'])
gender = pd.get_dummies(x['Gender'])
x = pd.concat([x,geography,gender],axis=1)
x.head(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain,Female,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0

In [10]:
x = x.drop(['Geography','Gender'],axis=1)
x.head(5)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain,Female,Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=10)

In [26]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)
x_train

array([[ 1.78974378,  0.94394225,  1.04271518, ..., -0.57388614,
        -0.91255717,  0.91255717],
       [ 0.26040483,  2.35932486, -0.35053238, ...,  1.74250594,
         1.09582175, -1.09582175],
       [-0.22526362, -0.47144036,  0.3460914 , ...,  1.74250594,
        -0.91255717,  0.91255717],
       ...,
       [-1.97160337,  0.09471269,  0.3460914 , ..., -0.57388614,
         1.09582175, -1.09582175],
       [ 0.60140608, -0.47144036, -1.04715616, ..., -0.57388614,
         1.09582175, -1.09582175],
       [ 0.21907135,  0.09471269,  1.73933896, ..., -0.57388614,
        -0.91255717,  0.91255717]])

In [15]:
import keras

In [22]:
from tensorflow.keras import Sequential
from keras.layers import Dense
from keras.layers import Dropout

In [24]:
classifier = keras.Sequential()

In [30]:
classifier.add(keras.layers.Dense(6,activation='relu',kernel_initializer='he_uniform',input_shape=(13,)))

In [31]:
classifier.add(keras.layers.Dense(6,activation='relu',kernel_initializer='he_uniform'))

In [34]:
classifier.add(keras.layers.Dense(1,activation='sigmoid',kernel_initializer='glorot_uniform'))

In [35]:
classifier.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy']
)

In [37]:
model_history = classifier.fit(x_train,y_train,validation_split=0.33,validation_batch_size=10,epochs=100)

Epoch 1/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3481 - accuracy: 0.8587 - val_loss: 0.3647 - val_accuracy: 0.8535
Epoch 2/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3493 - accuracy: 0.8559 - val_loss: 0.3609 - val_accuracy: 0.8550
Epoch 3/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3478 - accuracy: 0.8593 - val_loss: 0.3635 - val_accuracy: 0.8497
Epoch 4/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3478 - accuracy: 0.8565 - val_loss: 0.3691 - val_accuracy: 0.8425
Epoch 5/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3478 - accuracy: 0.8559 - val_loss: 0.3612 - val_accuracy: 0.8569
Epoch 6/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3479 - accuracy: 0.8567 - val_loss: 0.3612 - val_accuracy: 0.8550
Epoch 7/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3470 - accuracy: 0.8614 - val_loss: 0.3799 - val_accuracy: 0.8326
Epoch 8/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3463 - accuracy: 0.8552 - val_loss: 0.3659 - val_accuracy: 0.8557
Epoch 9/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3470 - accuracy: 0.8608 - val_loss: 0.3598 - val_accuracy: 0.8569
Epoch 10/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3457 - accuracy: 0.8593 - val_loss: 0.3609 - val_accuracy: 0.8554
Epoch 11/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3441 - accuracy: 0.8619 - val_loss: 0.3710 - val_accuracy: 0.8402
Epoch 12/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3462 - accuracy: 0.8602 - val_loss: 0.3618 - val_accuracy: 0.8561
Epoch 13/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3458 - accuracy: 0.8602 - val_loss: 0.3661 - val_accuracy: 0.8444
Epoch 14/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3450 - accuracy: 0.8591 - val_loss: 0.3595 - val_accuracy: 0.8554
Epoch 15/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3459 - accuracy: 0.8569 - val_loss: 0.3604 - val_accuracy: 0.8576
Epoch 16/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3448 - accuracy: 0.8580 - val_loss: 0.3610 - val_accuracy: 0.8531
Epoch 17/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3448 - accuracy: 0.8589 - val_loss: 0.3630 - val_accuracy: 0.8535
Epoch 18/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3451 - accuracy: 0.8589 - val_loss: 0.3655 - val_accuracy: 0.8440
Epoch 19/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3447 - accuracy: 0.8604 - val_loss: 0.3628 - val_accuracy: 0.8546
Epoch 20/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3442 - accuracy: 0.8587 - val_loss: 0.3650 - val_accuracy: 0.8470
Epoch 21/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3444 - accuracy: 0.8612 - val_loss: 0.3627 - val_accuracy: 0.8523
Epoch 22/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3454 - accuracy: 0.8567 - val_loss: 0.3637 - val_accuracy: 0.8504
Epoch 23/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3435 - accuracy: 0.8628 - val_loss: 0.3636 - val_accuracy: 0.8516
Epoch 24/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8589 - val_loss: 0.3646 - val_accuracy: 0.8497
Epoch 25/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3441 - accuracy: 0.8597 - val_loss: 0.3654 - val_accuracy: 0.8463
Epoch 26/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8619 - val_loss: 0.3606 - val_accuracy: 0.8569
Epoch 27/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8589 - val_loss: 0.3601 - val_accuracy: 0.8576
Epoch 28/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3441 - accuracy: 0.8582 - val_loss: 0.3605 - val_accuracy: 0.8569
Epoch 29/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3436 - accuracy: 0.8600 - val_loss: 0.3602 - val_accuracy: 0.8546
Epoch 30/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3435 - accuracy: 0.8584 - val_loss: 0.3633 - val_accuracy: 0.8519
Epoch 31/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3435 - accuracy: 0.8608 - val_loss: 0.3605 - val_accuracy: 0.8546
Epoch 32/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3431 - accuracy: 0.8593 - val_loss: 0.3719 - val_accuracy: 0.8342
Epoch 33/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3427 - accuracy: 0.8599 - val_loss: 0.3607 - val_accuracy: 0.8554
Epoch 34/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3418 - accuracy: 0.8606 - val_loss: 0.3596 - val_accuracy: 0.8573
Epoch 35/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3449 - accuracy: 0.8580 - val_loss: 0.3593 - val_accuracy: 0.8557
Epoch 36/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3427 - accuracy: 0.8600 - val_loss: 0.3642 - val_accuracy: 0.8463
Epoch 37/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3429 - accuracy: 0.8587 - val_loss: 0.3649 - val_accuracy: 0.8489
Epoch 38/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3412 - accuracy: 0.8638 - val_loss: 0.3632 - val_accuracy: 0.8482
Epoch 39/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8595 - val_loss: 0.3593 - val_accuracy: 0.8557
Epoch 40/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3411 - accuracy: 0.8610 - val_loss: 0.3589 - val_accuracy: 0.8535
Epoch 41/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3410 - accuracy: 0.8595 - val_loss: 0.3642 - val_accuracy: 0.8463
Epoch 42/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8610 - val_loss: 0.3587 - val_accuracy: 0.8550
Epoch 43/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8597 - val_loss: 0.3584 - val_accuracy: 0.8569
Epoch 44/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8587 - val_loss: 0.3605 - val_accuracy: 0.8550
Epoch 45/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8608 - val_loss: 0.3630 - val_accuracy: 0.8519
Epoch 46/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8593 - val_loss: 0.3631 - val_accuracy: 0.8561
Epoch 47/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8610 - val_loss: 0.3574 - val_accuracy: 0.8554
Epoch 48/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8614 - val_loss: 0.3604 - val_accuracy: 0.8485
Epoch 49/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3417 - accuracy: 0.8591 - val_loss: 0.3594 - val_accuracy: 0.8542
Epoch 50/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3411 - accuracy: 0.8589 - val_loss: 0.3585 - val_accuracy: 0.8542
Epoch 51/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3411 - accuracy: 0.8632 - val_loss: 0.3583 - val_accuracy: 0.8591
Epoch 52/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3411 - accuracy: 0.8597 - val_loss: 0.3603 - val_accuracy: 0.8527
Epoch 53/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3415 - accuracy: 0.8558 - val_loss: 0.3599 - val_accuracy: 0.8550
Epoch 54/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8608 - val_loss: 0.3572 - val_accuracy: 0.8561
Epoch 55/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8593 - val_loss: 0.3582 - val_accuracy: 0.8546
Epoch 56/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3411 - accuracy: 0.8595 - val_loss: 0.3736 - val_accuracy: 0.8360
Epoch 57/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8587 - val_loss: 0.3665 - val_accuracy: 0.8451

Epoch 58/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3405 - accuracy: 0.8589 - val_loss: 0.3631 - val_accuracy: 0.8485
Epoch 59/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8612 - val_loss: 0.3586 - val_accuracy: 0.8512
Epoch 60/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8606 - val_loss: 0.3616 - val_accuracy: 0.8504
Epoch 61/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3389 - accuracy: 0.8599 - val_loss: 0.3587 - val_accuracy: 0.8512
Epoch 62/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8595 - val_loss: 0.3597 - val_accuracy: 0.8519
Epoch 63/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8595 - val_loss: 0.3570 - val_accuracy: 0.8531
Epoch 64/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8595 - val_loss: 0.3572 - val_accuracy: 0.8557
Epoch 65/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3389 - accuracy: 0.8602 - val_loss: 0.3656 - val_accuracy: 0.8489
Epoch 66/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8589 - val_loss: 0.3613 - val_accuracy: 0.8527
Epoch 67/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8589 - val_loss: 0.3580 - val_accuracy: 0.8531
Epoch 68/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3388 - accuracy: 0.8619 - val_loss: 0.3627 - val_accuracy: 0.8482
Epoch 69/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8627 - val_loss: 0.3606 - val_accuracy: 0.8531
Epoch 70/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3396 - accuracy: 0.8606 - val_loss: 0.3587 - val_accuracy: 0.8535
Epoch 71/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8599 - val_loss: 0.3594 - val_accuracy: 0.8489
Epoch 72/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.8582 - val_loss: 0.3606 - val_accuracy: 0.8519
Epoch 73/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8615 - val_loss: 0.3603 - val_accuracy: 0.8557
Epoch 74/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.8604 - val_loss: 0.3619 - val_accuracy: 0.8542
Epoch 75/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8604 - val_loss: 0.3588 - val_accuracy: 0.8542
Epoch 76/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.8619 - val_loss: 0.3582 - val_accuracy: 0.8554
Epoch 77/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3370 - accuracy: 0.8600 - val_loss: 0.3697 - val_accuracy: 0.8432
Epoch 78/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8610 - val_loss: 0.3609 - val_accuracy: 0.8538
Epoch 79/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3375 - accuracy: 0.8597 - val_loss: 0.3600 - val_accuracy: 0.8554
Epoch 80/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3382 - accuracy: 0.8582 - val_loss: 0.3591 - val_accuracy: 0.8569
Epoch 81/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3388 - accuracy: 0.8599 - val_loss: 0.3666 - val_accuracy: 0.8485
Epoch 82/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8621 - val_loss: 0.3646 - val_accuracy: 0.8455
Epoch 83/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.8600 - val_loss: 0.3647 - val_accuracy: 0.8501
Epoch 84/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8589 - val_loss: 0.3589 - val_accuracy: 0.8542
Epoch 85/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8584 - val_loss: 0.3605 - val_accuracy: 0.8512
Epoch 86/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.8591 - val_loss: 0.3622 - val_accuracy: 0.8519
Epoch 87/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3382 - accuracy: 0.8606 - val_loss: 0.3602 - val_accuracy: 0.8527
Epoch 88/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8602 - val_loss: 0.3614 - val_accuracy: 0.8508
Epoch 89/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8628 - val_loss: 0.3597 - val_accuracy: 0.8565
Epoch 90/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3388 - accuracy: 0.8606 - val_loss: 0.3611 - val_accuracy: 0.8554
Epoch 91/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8604 - val_loss: 0.3595 - val_accuracy: 0.8550
Epoch 92/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3375 - accuracy: 0.8593 - val_loss: 0.3607 - val_accuracy: 0.8531
Epoch 93/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8619 - val_loss: 0.3593 - val_accuracy: 0.8535
Epoch 94/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3375 - accuracy: 0.8619 - val_loss: 0.3711 - val_accuracy: 0.8391
Epoch 95/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3366 - accuracy: 0.8589 - val_loss: 0.3615 - val_accuracy: 0.8546
Epoch 96/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.8614 - val_loss: 0.3609 - val_accuracy: 0.8565
Epoch 97/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8638 - val_loss: 0.3633 - val_accuracy: 0.8508
Epoch 98/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8621 - val_loss: 0.3590 - val_accuracy: 0.8504
Epoch 99/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3356 - accuracy: 0.8619 - val_loss: 0.3658 - val_accuracy: 0.8482
Epoch 100/100
168/168 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8625 - val_loss: 0.3614 - val_accuracy: 0.8519

In [38]:
y_pred = classifier.predict(x_test)

63/63 [==============================] - 0s 581us/step

In [41]:
for i in range(len(y_pred)):
    if(y_pred[i] >= 0.5):
        y_pred[i] = 1
    else:
        y_pred[i] = 0
y_pred

array([[0.],
       [0.],
       [1.],
       ...,
       [0.],
       [0.],
       [1.]], dtype=float32)

In [42]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_pred,y_test)
cm

array([[1475,  224],
       [ 103,  198]], dtype=int64)

In [44]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_pred,y_test)
accuracy

0.8365